.orders-container{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    /* gap: 20px */
    background-color: white;
}

/* .order-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:10px;
    border: 1px solid #ccc;
    padding: 20px;
    align-items: center;
    margin: 20px;
} */

.order-grid {
    display: flex;
    flex-direction: column;
    border: 0.5px solid #ccc;
    /* padding: 20px; */
    margin: 40px;
    background-color:f8f9fa;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.order-top-half {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f7f7f6ea;
    padding-bottom: 20px;
    margin: 0;
    padding: 20px;
    background: #f7f7f6;
    /* background-color: #d1e5e8; */
    border-radius: 8px;
}

.order-bottom-half {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    grid-gap: 10px; /* Space between the grid items */
    /* margin-top: 20px; */
    margin: 0;
    padding: 20px;
}

.order-plants-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.orderhistory-title{
    text-transform: uppercase;
    font-size: 44px;
    line-height: 1.23;
    letter-spacing: 1.32px;
    font-family:'Cormorant Garamond', serif;
    padding-left: 40px;
}

.order-placed{
    margin-left: 40px;
}

.cancel-btn-orders{
    display: block;
    margin: 10px 0;
    padding: 15px 20px;
    border: 0;
    cursor: pointer;
    background-color: #efefef;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    width: 30%;
    margin-left:10px;
    border: 1px solid transparent;
}

.cancel-btn-orders:hover{
    background-color: black;
    color: white;
    border: 1px solid black;
}
