.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}
.navbar {
  display: flex;
  justify-content: center;
  background-color: #f8f9fa;
  /* padding: 5px 0; */
  /* font-family: 'Fraunces', serif; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(248, 249, 250, 0.7);

}

.navbar > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  width: 80%;
}

.navbar > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoimg {
  width: 100px;
  height: auto;
}

.care-cart-profile > *{
  margin-right: 10px;
  text-decoration: none;
}

.home-store{
  text-decoration: none;
}
