.profile-dropdown{
    display: none;
    position: absolute;
    /* top: calc(100% + 10px); */
    left: 0;
    right: 20px;
    width: 100vw;
    height: 300px;
    border-radius: 10px;
    list-style: none;
    z-index: 4;
    font-family: 'Times New Roman', Times, serif;
    backdrop-filter: blur(5px);
}

/* .blur-overlay {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    pointer-events: none;
    z-index: 3;
    display: none;
    background-color: rgba(77, 7, 7, 0.5);
}

.blur-overlay.active {
    display: block;
} */

.profile-dropdown li{
    /* background-color: white; */
    background-color: rgba(248, 249, 250, 0.7);
    padding: 10px;
    display: flex;
    justify-content: center;
}

.profile-dropdown li:hover{
    background-color: lightgray;
    color: black;

}

.profile-dropdown .text-link {
    color: black;
    text-decoration: none;
}

.profile-logout {
    border: none;
    cursor: pointer;
    width:100%;
    display: flex;
    justify-content: flex-start;
    background-color: rgba(248, 249, 250, 0.7);
    font-family: 'Times New Roman', Times, serif;

}

.profile-btn-bars{
    border: 1px solid rgba(1,27,26,.2)!important;
    border-radius: 50%;
    padding: 10px;
    background-color: #f8f9fa;
    cursor:pointer
}

.login-open-modal-button{
    border: none;
    cursor: pointer;
    width:100%;
    display: flex;
    justify-content: flex-start;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

.profile-dropdown-container:hover .profile-dropdown,
.profile-dropdown:hover{
    display: block;
}
