.care-page-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 50px;
    padding-right: 70px;
}

.care-plant-image{
    object-fit: cover;
    max-width: 100%;
    object-fit: cover;
}

.weather-row {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }

.weather-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }

.weather-info{
    background-color:#a5b0a9;
    /* padding: 10px; */
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    border-radius: 5px;
    width: 50%;
    padding-top: 30px;
}

.weather-info i {
    margin-right: 10px;
    margin-bottom: 5px;
}

.care-weather-column{
    padding-right: 30px;
}

.care-carousel{
  width: 80%;
}

.main-care-header{
    font-size: 3rem;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
}

.care-page-noorders{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.care-page-noorders a{
    color: inherit;
    /* text-decoration: underline; */
}

.main-care-noorders-header {
    font-size: 3rem;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
}
