.circular-progress {
    position: relative;
    width: 100px;
    height: 100px;
  }

  .circular-chart {
    width: 100px;
    height: 100px;
  }

  .circle-bg {
    fill: none;
    stroke: #f0f0f0;
    stroke-width: 3;
  }

  .circle {
    fill: none;
    /* stroke: #3c392c; */
    stroke: rgb(190, 217, 226);
    stroke-width: 3;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }

  .progress-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    text-align: center;
  }
