.product-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 20px;
    /* font-family: historical,serif; */
    color: #333;
    background-color: #faf8f3;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.nums{
    font-family: 'Cormorant Garamond', serif;
    /* font-family: historical; */
}

.reviews {
    grid-column: span 2;
}

.general-green-btn{
    background-color: #3c392c;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.5;
    height: 50px;
    width: 70%;
    cursor: pointer;
    box-shadow: inset 0 0 0 2px white;
    transition: all 0.3s ease;
    position: relative;
    /* font-style: italic; */
}

.general-green-btn:hover{
    font-style: italic;
}
.general-green-btn:hover::after {
    content: '→';
    color: white;
    position: absolute;
    /* right: 10px; */
    top: 50%;
    transform: translateY(-50%);
}

.font-one{
    font-family: 'Quattrocento', serif;
    font-size: 30px;
    margin-right: 0.2em;
}

.font-two{
     font-family: 'Fraunces', serif;
     font-size: 18px;
}

.show-arrow {
    display: inline;
}

.hide-arrow {
    display: none;
}

.product-specs {
    grid-column: span 2;
    border: 1px solid #9b9b8c;
    padding: 30px;
    margin-bottom: 20px;
    position: relative;
    background-color: #f8ede3;
}

.specs-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.instructions {
    /* flex: 1; */
    margin-right: 20px;
}

.plant-structure-img {
    /* flex: 0 0 auto; */
    max-width: 40%;
}

body{
    background-color: #faf8f3;
}

.plant-details-description{
    font-family: 'Times New Roman', Times, serif;
}

.add-to-cart{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
}

.cart-quantity-container{
    display: flex;
    align-items: center;
    gap:5px;
}

.reviews-header {
    cursor: pointer;
    background: #f0efed;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-transform: uppercase;
    font-size: medium;
}

.reviews-content {
    display: block;
}

.hide-reviews {
    display: none;
}

.toggle-symbol{
    font-size: large;
}

.review-author-date {
    display: flex;
    justify-content: space-between;
}
