.product-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 20px;
    /* font-family: historical,serif; */
}

.reviews {
    grid-column: span 2;
}

.font-one{
    font-family: 'Quattrocento', serif;
    font-size: 30px;
    margin-right: 0.2em;
}

.font-two{

     font-family: 'Fraunces', serif;
     font-size: 18px;
}
